route:
  group_by: ['alertname', 'container_name']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 1h
  receiver: 'email-notifications'

receivers:
  - name: 'email-notifications'
    email_configs:
      - to: 'support@jojoaddison.net' # Replace with your email address
        send_resolved: true
