auth_enabled: false
server:
  http_listen_port: 3100
common:
  storage:
    s3:
      endpoint: ${S3_ENDPOINT}
      access_key_id: ${S3_ACCESS_KEY}
      secret_access_key: ${S3_SECRET_KEY}
      bucketnames: loki
      s3forcepathstyle: true
      insecure: true
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory
schema_config:
  configs:
    - from: 2026-01-01
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h